:root {
  --color-bg: #ebebeb;
  --color-text: #000000;
  --color-navbar: #bb482e;
  --color-footer: #bb482e;
  --color-footer-opacity: rgba(187, 72, 46, 0.8); /}

body.dark-mode {
  --color-bg: #000000;
  --color-text: #f1f1f1;
  --color-navbar: #1553b0;
  --color-footer: #1553b0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 70px;
  transition: background-color 0.3s, color 0.3s;
  cursor: url("../img/cursor/cookie.png") 16 16, auto;
}

.navbar {
  background-color: var(--color-navbar) !important;
}

footer {
  background-color: var(--color-footer);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 30px;

}
.card img{
  border-radius: 30px;
  margin-right: 20px;
}
.div :hover{
  background-color: #c9c8c8;
}

.offcanvas {
  transition: background-color 0.3s, color 0.3s;
}

.modal-content {
  transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body{
  font-size: 25px;
}
.offcanvas-body li :hover{
  background-color:#c9c8c8;
}
.offcanvas-title{
  font-size: 30px;
}
.btn-warning{
  background-color: var(--color-footer);
  color:var(--color-);
  margin-bottom: 80px;
  margin-right: 30px;
}
.btn{ /* Cambia el color del borde del boton de inicio */
  outline: 2px solid var(--color-text);
  color: var(--color-text);
}
.btn:hover{
  background-color: var(--color-footer);
  color: var(--color-text);

}
.card{
  outline: 2px solid var(--color-text); /* Cambia el color del borde de las cards */
}
.card-img{ /* Son las imagenes de las cards */
  width: 250px;
  height: auto; 
  object-fit: cover;
}
main.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
