:root {
  --color-bg: #f1d595;
  --color-text: #000000;
  --color-navbar: #bb482e;
  --color-footer: #bb482e;
}

body.dark-mode {
  --color-bg: #4e4e4e;
  --color-text: #f1f1f1;
  --color-navbar: #1553b0;
  --color-footer: #1553b0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 70px;
  transition: background-color 0.3s, color 0.3s;
  cursor: url("../img/cursor/cookie.png") 16 16, auto;
}

.navbar {
  background-color: var(--color-navbar) !important;
}

footer {
  background-color: var(--color-footer);
}

.card {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 30px;

}
.card img{
  border-radius: 30px;
  margin-right: 20px;
}
.div :hover{
  background-color: #c9c8c8;
}

.offcanvas {
  transition: background-color 0.3s, color 0.3s;
}

.modal-content {
  transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body{
  font-size: 25px;
}
.offcanvas-body li :hover{
  background-color:#c9c8c8;
}
.offcanvas-title{
  font-size: 30px;
}