:root {
  --color-bg: #fef7e0;
  --color-text: #000000;
  --color-navbar: #0d6efd;
  --color-footer: #0d6efd;
}

body.dark-mode {
  --color-bg: #1e1e1e;
  --color-text: #f1f1f1;
  --color-navbar: #333333;
  --color-footer: #333333;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 70px;
  transition: background-color 0.3s, color 0.3s;
  cursor: url("../img/cursor/cookie.png") 16 16, auto;
}

.navbar {
  background-color: var(--color-navbar) !important;
}

footer {
  background-color: var(--color-footer);
}

.card {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}

.offcanvas {
  transition: background-color 0.3s, color 0.3s;
}

.modal-content {
  transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body{
  font-size: 25px;
}
.offcanvas-title{
  font-size: 30px;
}