:root {  /* Definición de variables CSS para el modo claro */
  --color-bg: #fdf5e3;
  --color-text: #3f3f3f;
  --color-navbar: #bb482e;
  --color-footer: #bb482e;
  --color-btn: #ffc107;
}

body.dark-mode { /* Definición de variables CSS para el modo oscuro */
  --color-bg: #3f3f3f;
  --color-text: #f1f1f1;
  --color-navbar: #1553b0;
  --color-footer: #1553b0;
  --color-btn: #ffc107;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}   

.navbar {
  background-color: var(--color-navbar) !important;
}

footer {
  background-color: var(--color-footer);
  color: #fff;
}

.card {
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s, color 0.3s;
}

.card img {
  object-fit: cover;
  max-height: 120px;
  width: auto;
}

.btn-success {
  background-color: var(--color-btn);
  border: none;
  color: #000;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #e0a800;
  color: #000;
}

#carrito-total {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Responsive ajuste */
@media (max-width: 768px) {
  .card-body {
    text-align: center;
  }
}
.letraCookie{
  font-family: 'Lobster', cursive;
}
